/*
┌───────────────────────────────────────────────────────────────────────────────┐
│                                                                               │
│ Organization structure based on the following guides:                         │
│ Estrutura de organização baseada nos seguintes guias:                         │
│                                                                               │
│ https://medium.com/swlh/better-ways-to-organise-css-properties-9a066e7ded62   │
│ https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Organizing │
│                                                                               │
└───────────────────────────────────────────────────────────────────────────────┘
*/


/* || VARIABLES || */

:root {
    --blue-light: #005288;
    --blue-dark: #003764;
    --red: #de0000;
}


/* || GENERAL STYLES (estilos gerais) || */

.headline {
    font-family: adobe-garamond-pro, serif;
}

body {
    margin: 0;
    padding: 0;
}


/* || UTILITIES (utilidades) || */

.blue {
    background-color: var(--blue-light);
}

.white {
    background-color: white;
}


/* || NAVBAR (barra de navegação) || */

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 128px;

    background-color: var(--blue-light);
    
    color: white;
    text-align: center;
}

/* | Logo | */

.div {
    height: 80px;
    text-align: left;
}

.logo {
    height: 64px;
    margin: 8px;
    margin-top: 25px;
}

/* | Sections (cadernos) | */

nav {
    position: absolute;
    top: 45px;
    left: 255px;

    width: 50%;
}

nav ul li a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: torus;
    src: url(../JornalMarista/assets/fonts/torus/regular.otf);
}

.sections {
    display: flex;

    width: 646px;
    margin: 0;
    padding: 0;

    font-family: torus;

    list-style-type: none;
}

.sections li {
    margin: 0;
    padding: 0.5em;
}

.sections li:hover div {
    width: 100%;
}

.section {
    width: 16px;
    height: 4px;
    margin: auto;

    transition: width .15s;
}

.cities { 
    background-color: #173963;
}

.sports {
    background-color: #36BBA5;
}

.social {
    background-color: #3777BC;
}

.zn {
    background-color: #F15B4E;
}

.interioridades {
    color: var(--blue-light);
    
    background-color: #FDB933;
}

.fotografia {
    color: var(--blue-light);

    background-color: #5fc8d7;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 32px;

    background-color: var(--blue-light);

    font-family: Arial, Helvetica, sans-serif;

    color: white;
    text-align: center;
}

footer p {
    margin: 7px;
}